*{
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: skyblue;
}

.divContainer{
    display: flex;
    justify-content: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.siteTheme{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: beige;
    border-radius: 10%;
    border: 2px solid blue;
}

.label{
    margin-top: 30px;
}